In [19]:
# Univariate analysis {Single column analysis}
import pandas as pd
visa_df=pd.read_csv('visadataset.csv')
visa_df['continent'].unique()
len(visa_df['continent'].unique())
# ** Unique **
visa_df['continent'].nunique()

6

In [27]:
con=visa_df['continent']=='Asia'
visa_df[con]
len(visa_df[con])

16861

In [31]:
len(visa_df[visa_df['continent']=='Asia'])
len(visa_df[visa_df['continent']=='Africa'])
len(visa_df[visa_df['continent']=='North America'])
len(visa_df[visa_df['continent']=='Europe'])
len(visa_df[visa_df['continent']=='South America'])
len(visa_df[visa_df['continent']=='Oceania'])

192

In [77]:
visa_df['continent'].unique()
c=list(visa_df['continent'].unique())
c
count=[]
for i in c:
    print(len(visa_df[visa_df['continent']==i]), i)
    num=len(visa_df[visa_df['continent']==i])
    count.append(num)

final=pd.DataFrame(zip(c,count), columns=['Continent','No of Applicants'])
final    
final.sort_values(by='Continent',ascending=True)

16861 Asia
551 Africa
3292 North America
3732 Europe
852 South America
192 Oceania

       Continent  No of Applicants
1         Africa               551
0           Asia             16861
3         Europe              3732
2  North America              3292
5        Oceania               192
4  South America               852

In [71]:
# *** Value_counts ***
series=visa_df['continent'].value_counts()
pd.DataFrame(series).reset_index()

       continent  count
0           Asia  16861
1         Europe   3732
2  North America   3292
3  South America    852
4         Africa    551
5        Oceania    192