In [15]:
import pandas as pd
list1=['greeks','for','greeks','is','portal','for','geek']
col=['words']
df1=pd.DataFrame(list1, columns=col)
df1

    words
0  greeks
1     for
2  greeks
3      is
4  portal
5     for
6    geek

In [109]:
# Creating DF using Dictionary
Grade2=({'Name':['Shreya','Isha','Simran','Pooja'],
               'Marks':[60,70,90,50],
               'Subject':['Math','Phy','Che','SCI']},index_col="Name")

df2=pd.DataFrame(Grade2)
df2
# print(df2['Name']) #-- Column Selection
nm = (df2.loc["Subject"])
nm

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1458171060.py, line 4)

In [89]:
df3=pd.read_csv(r"C:\Users\ramka\Downloads\nba.csv", index_col="Name")
# df3
df4=df3.loc["Jae Crowder"]
df4.drop(["Team","Weight"])

Number           99.0
Position           SF
Age              25.0
Height            6-6
College     Marquette
Salary      6796117.0
Name: Jae Crowder, dtype: object

In [113]:
df4=pd.read_csv(r"C:\Users\ramka\Downloads\nba.csv", index=[1])
df4

TypeError: read_csv() got an unexpected keyword argument 'index'

In [131]:
import numpy as np
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
df=pd.DataFrame(dict)
df
# df.fillna(0)
# df.dropna()
for i, j in df.iterrows():
    print(i,j)
    print()

0 First Score     100.0
Second Score     30.0
Third Score       NaN
Name: 0, dtype: float64

1 First Score     90.0
Second Score    45.0
Third Score     40.0
Name: 1, dtype: float64

2 First Score      NaN
Second Score    56.0
Third Score     80.0
Name: 2, dtype: float64

3 First Score     95.0
Second Score     NaN
Third Score     98.0
Name: 3, dtype: float64

In [140]:
columns=list(df)
columns
for i in columns:
    print(df[i][3])

['First Score', 'Second Score', 'Third Score']