In [5]:
number=1

In [7]:
number = 3
number

3

In [11]:
number =2
display(number)

2

In [29]:
n1=100
print(type(n1))
n2='Ram'
print(type(n2))
n3=100.12
print(type(n3))
n4=[1,20]
print(type(n4))
n5=(1,2,4)
print(type(n5))
n6={1,2,3}
print(type(n6))

n7=True
print(type(n7))
n8={'Name':'Ram'}
print('n8', type(n8))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'bool'>
n8 <class 'dict'>

In [39]:
N1=345
N2=200
N3=N1+N2
print(f"Addition of {N1} And {N2} is equal to {N3}")

Addition of 345 And 200 is equal to 545

In [51]:
print(f"The Type of {n1} is {type(n1)}")
print(f"The Type of {n2} is {type(n2)}")
print(f"The Type of {n3} is {type(n3)}")
print(f"The Type of {n4} is {type(n4)}")
print(f"The Type of {n5} is {type(n5)}")
print(f"The Type of {n6} is {type(n6)}")

The Type of 345 is <class 'int'>
The Type of 200 is <class 'int'>
The Type of 545 is <class 'int'>
The Type of [1, 20] is <class 'list'>
The Type of (1, 2, 4) is <class 'tuple'>
The Type of {1, 2, 3} is <class 'set'>

In [65]:
num1=200
num2=300
add=num1+num2
sub=num2-num1
print(f"The addition of {num1} and {num2} is {add}")
print(f'The addition of {num1} and {num2} is {add}')
print(f"The Substraction of {num1} and {num2} is {sub}")
print("The addition of {} and {} is {}".format(num1, num2, add))
print("The Substraction of {} and {} is {}".format(num1,num2,sub))

The addition of 200 and 300 is 500
The addition of 200 and 300 is 500
The Substraction of 200 and 300 is 100
The addition of 200 and 300 is 500
The Substraction of 200 and 300 is 100

In [71]:
print('''Hello
my name is ram 
i leave in pune, its called docs string''')

Hello
my name is ram
i leave in pune, its called docs string

In [2]:
print('hello',end=' ')
print("hello")

hello hello

In [55]:
name='python'
age=10
city='India'
print(f"My {name} is python im {age} years old i came from {city}")

My python is python im 10 years old i came from India