In [3]:
tuple=(i for i in range(1,10))

for i in tuple:
    print(i)

1
2
3
4
5
6
7
8
9

In [3]:
Names = ['Ramesh','Suresh','Mahesh']
age=[20,21,22]
city=('pune','hyd','mumbai')
# for i in range(len(Names)):
#     print(f"{Names[i]} age is {age[i]}")

for i,j in zip(Names,age):
    print(i,j)

for i,j, k in zip(Names,age, city):
    print(i,j, k)

type(city)

Ramesh 20
Suresh 21
Mahesh 22
Ramesh 20 pune
Suresh 21 hyd
Mahesh 22 mumbai

tuple

In [71]:
Names = ['Ramesh','Suresh','Mahesh']
age=[20,21,22]
city=('pune','hyd','mumbai')

for i,j, k in zip(Names,age, city):
    print(i,j, k)

Ramesh 20 pune
Suresh 21 hyd
Mahesh 22 mumbai

In [9]:
dict1={'Ramesh':20,'Suresh':21,'Mahesh':22}
dict1

{'Ramesh': 20, 'Suresh': 21, 'Mahesh': 22}

In [25]:
dict2={'WorkingDay':['Mon','Tue','Wed','Thr','Fri'], 'Weekend':('Sat','sun')}
dict2

{'WorkingDay': ['Mon', 'Tue', 'Wed', 'Thr', 'Fri'], 'Weekend': ('Sat', 'sun')}

In [31]:
dict3={'days':['Mon','Tue','Wed','Thr','Fri','Sat','sun']}
dict3

{'days': ['Mon', 'Tue', 'Wed', 'Thr', 'Fri', 'Sat', 'sun']}

In [13]:
d={'a':'1','b':'2'}
# d1={d:'3'}
d

{'a': '1', 'b': '2'}

In [17]:
min(d)
len(d)
sorted(d)
reversed(d)
# sum(d)
# index(d)
type(d)
max(d)
# concatenation(d)
# list(reversed(d1))
for i in d:
    print(i, d[i])

'b'

In [77]:
d['a']=20

In [81]:
d5={}
d5['Mahesh']=50

{'Mahesh': 50}

In [87]:
s=''

s=s+'apple'

#############################################

l=[]

l.append(10)

###############################################

d={}

d['Ramesh']=20

d['Suresh']=30

d['Mahesh']=40
d

{'Ramesh': 20, 'Suresh': 30, 'Mahesh': 40}

*** how to create dictionary using list ***

In [23]:
Names = ['Ramesh','Suresh','Mahesh','Ram']
age=[20,21,22,23]
d6={}
for key, values in zip(Names,age):
    d6[key]=values

d6

{'Ramesh': 20, 'Suresh': 21, 'Mahesh': 22, 'Ram': 23}

***Accessing Dictionary

In [131]:
d1={'fruites':{'apple':'kashmir'}}
d1['fruites']['apple']
d1={'fruites':['apple','kashmir']}
d1['fruites'][1]
d1={'fruites':[{'apple':'kashmir'},{'Mango':'Ratnagiri'}]}
d1['fruites'][1]['Mango']

'Ratnagiri'

In [27]:
dir({})
type(d6.values())
d6.keys()
type(d6.keys())
# (d6.items())
type(d6.items())

# We need to convert Dict type to list

l=list(d6.items())
for i,j in d6.items():
    print(j)

# d6.get('Ram')
# get used to access values through keys
d7={'Manish':67}
d7.update(d6)
d6
d7
# Its like extend in case of list
d7.setdefault('sumit',35)
d7.setdefault('Ram',100)
d7
d6.keys()

l=list(d6.items())
for i,j in d6.items():
    # print(i)
    if i == 'Ram':
        d6[i]=120

d6
# d6['Ram']=100
# d6

20
21
22
120

{'Ramesh': 20, 'Suresh': 21, 'Mahesh': 22, 'Ram': 120}

In [33]:
d6
# d6.pop('Mahesh')
d6.popitem()
d6

{'Ramesh': 20}

** Word Frequency **

In [289]:
# take some text, remove punctuation, lower test, get count of each work
# & Out is in the form of dict

import string
punct=string.punctuation
text='Hello World! welcome to the world of python. python is amazing and python is fun'
text_lower=text.lower()
new_text=''
dict1={}
word_list=[]
l=[]
for i in text_lower:
    if i not in punct:
        # print(i,end='')
             
        new_text=new_text+i
word_list=new_text.split()
for word in word_list:
    if word not in l:
        # print(word,word_list.count(word))
        l.append(word)
        dict1[word]=word_list.count(word)

dict1

{'hello': 1,
 'world': 2,
 'welcome': 1,
 'to': 1,
 'the': 1,
 'of': 1,
 'python': 3,
 'is': 2,
 'amazing': 1,
 'and': 1,
 'fun': 1}