In [7]:
for i in range (5):
    print(i, end=',')

0,1,2,3,4,

In [9]:
for i in range(1,10):
    print(i, end=', ')

1, 2, 3, 4, 5, 6, 7, 8, 9,

In [18]:
for i in range(0,10, 2):
    print(i, end=', ')

0, 2, 4, 6, 8,

- range(stop)
 
    - range(10)
 
- range(start,stop)
 
    - range(2,10)
 
- range(start,stop,step)
 
    - range(2,10,2)

In [18]:
for i in range(20,10, -2):
    print(i, end=' ')

20 18 16 14 12

**range(stop)**
 
- ex:  range(10)
 
- If we dont mentioned a start value, by default start=0
 
- last=stop-1= 10-1=9
 
- step also not mentioned so by defualt = +1 (increment)

In [16]:
for i in range(0,-10, -2):
    print(i, end=' ')

0 -2 -4 -6 -8

In [21]:
# WAP ask user to enter 3 Time, find squire 
for i in range(3):
    num=eval(input("Enter Number:"))
    print(f"Squre of number {num} equals {num * num}")

Enter Number: 4

Squre of number 4 equals 16

Enter Number: 5

Squre of number 5 equals 25

Enter Number: 23

Squre of number 23 equals 529

In [29]:
n= eval(input("Enter value of Table you need"))
for i in range (1,11):
    print (f" Table of {n} = {n} * {i} = {n*i} ")

Enter value of Table you need 9

 Table of 9 = 9 * 1 = 9
 Table of 9 = 9 * 2 = 18
 Table of 9 = 9 * 3 = 27
 Table of 9 = 9 * 4 = 36
 Table of 9 = 9 * 5 = 45
 Table of 9 = 9 * 6 = 54
 Table of 9 = 9 * 7 = 63
 Table of 9 = 9 * 8 = 72
 Table of 9 = 9 * 9 = 81
 Table of 9 = 9 * 10 = 90

In [31]:
sum =0
for i in range(1,11):
    sum = i + sum
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [33]:
sum =0
for i in range(1,11):
    sum = i + sum

print(sum)

55

In [59]:
import random
for i in range(5):
    a = random.randint(1,1000)
    if a%2==0:
        print(f"Number {a} is Even")
    else:
        print(f"Number {a} is Odd")

Number 112 is Even
Number 500 is Even
Number 401 is Odd
Number 411 is Odd
Number 958 is Even

In [61]:
from random import randint
for i in range(5):
    a = randint(1,1000)
    if a%2==0:
        print(f"Number {a} is Even")
    else:
        print(f"Number {a} is Odd")

Number 759 is Odd
Number 200 is Even
Number 89 is Odd
Number 726 is Even
Number 825 is Odd

In [71]:
from random import randint
even_count=0
odd_count=0
for i in range(5):
    num=randint(1,100)
    if num%2==0:
        print(f"{num} is an even")
        even_count=even_count+1
    else:
        print(f"{num} is an odd")
        odd_count=odd_count+1
print("even_count is:",even_count)
print("odd_count is:",odd_count)

44 is an even
33 is an odd
11 is an odd
56 is an even
10 is an even
even_count is: 3
odd_count is: 2

In [93]:
# WAP get random number 
# Ask user enter a number
# if both number is match then print We won else lost
# Give 5 chances
from random import randint

for i in range(5):
        randomnum = randint(1,2)
        num = eval(input("Enter number:"))
        if (randomnum == num):
                   print("We won")
                   break
        else:
                print("We lost")

Enter number: 2

We lost

Enter number: 1

We lost

Enter number: 0

We lost

Enter number: 2

We won

In [97]:
for i in range(1,6):
    print(i, end=' ')

1 2 3 4 5

In [101]:
i=1
while (i<5):
    print(i, end= ' ')
    i = i+1

1 2 3 4

In [103]:
i=1
while (i<5):
    print(i, end= ' ')
    i = i+1

AttributeError: 'int' object has no attribute 'next'

In [120]:
x = (1,2,3,4,5)
i=0
while (i< len(x)):
    print(x[i], end=' ')
    i=i+1

1 2 3 4 5

Any loop we required 3 things
 
- Intial point (start point)
 
- Increment or decrement
 
- Condition to stop the loop
 
- in for loop all above 3 in a single line
 
- for i in range(2,5)  i=2  2,3,4  i==4
 
- but in while loop we will consider all 3 in 3 lines

In [118]:
# %SQL%
# Select 'Hello'

SyntaxError: invalid syntax (3011249169.py, line 2)

In [158]:
x= eval(input("Enter a valid number"))
i==1
for i in range(1,11):
    print (f"{x} X {i} = {x*i}")

Enter a valid number 100

100 X 1 = 100
100 X 2 = 200
100 X 3 = 300
100 X 4 = 400
100 X 5 = 500
100 X 6 = 600
100 X 7 = 700
100 X 8 = 800
100 X 9 = 900
100 X 10 = 1000