In [3]:
list1 = [1,2,3,4,40,40,40]
list2= ['Apple','Banana','Cherry']
list3= list1+list2
print(list3)
len(list3)
# min(list3)
# not supported for hetrogenious , only for numeric elements
# max(list1)
type(list1)
sorted(list1)
list4 =reversed(list1)
for i in list4:
    print(i)

list5=['A',1,True,10.5]
list6=[1,2,3,['A','B','C']]
for i in list6:
    print(i)

[1, 2, 3, 4, 40, 40, 40, 'Apple', 'Banana', 'Cherry']
40
40
40
4
3
2
1
1
2
3
['A', 'B', 'C']

In [9]:
dir(list1)
list1.insert(7,50)

In [13]:
sorted(list1,reverse=True)
# list1.append(60)
dir(list1)
# list1.count(40)
# list1.remove(60)
# display(list1)
70 in list1
# you can use 'in' for element exists in list or not
# for i in list1:
#     print(i, end=',')

# for i in range(len(list1)):
#     print(list1[i])
list6=[1,2,3,['A','B',['C']]]
for i in range(len(list6)):
        print(list6[i])
# list6[3][2]
# list6[3][2][0]

1
2
3
['A', 'B', ['C']]

In [39]:
list7=['Mango',['India',['Nagpur',['MH',['King',['shivaji','Maharaj',['Son',['Maharaj','Sambhaji']]]]]]]]
# list7[1][1][1][1][1][1][1][0]
# list7[1][1][1][1][1][2][1][1]

'Sambhaji'

In [43]:
def addelementstolist(n):
    list=[]
    for i in range(n):
        list.append(i)
    display(list)
addelementstolist(11)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
import random
def list_of_even_odd(n):
    even_list=[]
    odd_list=[]
    for i in range(n):
        num=random.randint(1,10)
        if num%2==0:
            even_list.append(num)
        else:
            odd_list.append(num)

    display(even_list)
    display(odd_list)
    odd_list=even_list.copy()
    # copy is copy and paste(replace existing elements)
    display(odd_list)
    odd_list.extend(even_list)
    display(odd_list)
    

list_of_even_odd(5)

[8, 8]

[1, 1, 7]

[8, 8]

[8, 8, 8, 8]

In [57]:
list1=[1,2,3,4,10,10,10,40,50]
# i1=list1.index(10)
# i1
# i2=list1.index(10,1+i1)
# i2
# i3=list1.index(10,1+i2)
# i3
list1.insert(40,'ABC')
# list1
list1.insert(7,45)
# list1
list1.insert(5,12)
# list1
list1.pop(7)
list1
list1.remove('ABC')
# del(list1[0])
# del(list)
list1
list1.sort()
list1

[1, 2, 3, 4, 10, 10, 12, 40, 45, 50]

In [59]:
list20=[4,2,3,1]
list20
list20.sort()
list20
list20.reverse()
list20
reversed(list20)
list20
# display(l)
# display(sorted(list20))

[4, 3, 2, 1]

In [1]:
tuple=(1,2,3,4,1)
tuple
dir(tuple)
tuple.count(1)  #-/- Distinct count in tuple
# dir(tuple) Only count and index methods are avilable
tuple.index(4)

3

** you cannt modify containts of tuple, tuple can contains duplicate

In [81]:
set={1,2,1,3}
set
dir(set)
# set.add(1)

{1, 2, 3}

In [281]:
string='hai how are you'
l=string.split()
'*'.join(l)

'hai*how*are*you'