###
Printing current and previous number sum in a range(10)

In [15]:
# remove nth char from string
def removeChar(word, char):
    # word= 'pune'
    # char='n'
    final_word=''
    for i in word:
        if i == char:
            print(f"Char to be removed {i}")
        else:
            final_word= final_word + i
    
    print(f"Final word after removing char {i} is {final_word}")


removeChar('Maharashtra','t')

Char to be removed t
FInal word after removing char a is Maharashra

In [11]:
Num = eval(input("Enter a number"))
temp = 0
for i in range (1, Num):
    print(f"Print Current {i} and previous number {temp} sum in a range of {Num} is {i+temp}")
    temp += 1

Enter a number 8

Print Current 1 and previous number 0 sum in a range of 8 is 1
Print Current 2 and previous number 1 sum in a range of 8 is 3
Print Current 3 and previous number 2 sum in a range of 8 is 5
Print Current 4 and previous number 3 sum in a range of 8 is 7
Print Current 5 and previous number 4 sum in a range of 8 is 9
Print Current 6 and previous number 5 sum in a range of 8 is 11
Print Current 7 and previous number 6 sum in a range of 8 is 13

### Exercise 3: Print characters present at an even index number
Write a Python code to accept a string from the user and display characters present at an even index number.

For example, str = "PYnative". so your code should display ‘P’, ‘n’, ‘t’, ‘v’.

In [20]:
str = "RamKadam"
for i in range(1,len(str)):
    if i%2 == 0:
        print(str[i])
    else:
        continue

m
a
a

### Exercise 4: Remove first n characters from a string
Write a Python code to remove characters from a string from 0 to n and return a new string.

For Example:

remove_chars("PYnative", 4) so output must be tive. Here, you need to remove the first four characters from a string.
remove_chars("PYnative", 2) so output must be native. Here, you need to remove the first two characters from a string.
Note: n must be less than the length of the string.

In [33]:
# word = 'MagarpattaPune'
# n = len(word)
# temp=4
# print(word[5:])

def truncatechars(word, temp):
    print(word[temp:])


truncatechars('MagarpattaPune',5)

pattaPune

In [13]:
import pandas as pd
source_df=pd.read_csv(r"C:\Users\ramka\Documents\vscode_session\TRADE_INPUT.csv")
# source_df
# dir(source_df)
filtered_df=source_df[source_df['PRODUCT_ID_VALUE_1']=='CREDIT']
filtered_df

,BU,INTRENALE_TRADE_REFERENCE,PARTY_1_CODE,PARTY_1_CODE_TYPE,PARTY_2_CODE,PARTY_2_CODE_TYPE,PRODUCT_ID_VALUE_1,PRODUCT_ID_VALUE_2,NOTIONAL,NOTIONAL_CURRENCY,VALUE_DATE,MATURITY_DATE,EARLY_TERMINATION_DATE,PRICE,PRICE_CURRENCY
3,35,TCG201122AC04,35,BU,123459,CIF,CREDIT,DEBT,100003,INR,31-12-2024,31-12-2025,NaN,4.2,USD
8,40,TCG201122AC09,40,BU,123464,CIF,CREDIT,DEBT,100008,INR,31-12-2024,31-12-2025,NaN,9.2,USD
13,45,TCG201122AC14,45,BU,123469,CIF,CREDIT,DEBT,100013,INR,31-12-2024,31-12-2025,NaN,14.2,USD
18,50,TCG201122AC19,50,BU,123474,CIF,CREDIT,DEBT,100018,INR,31-12-2024,31-12-2025,NaN,19.2,USD

In [15]:
def print_kwargs(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_kwargs(name="Bob", age=30)  # Outputs: name: Bob, age: 30

name: Bob
age: 30

In [60]:
def filterdata(**kargs):
    for i,j in kargs.items():
        filtered_df=source_df[source_df[i]==j] 
        # filtered_df_by_2=filtered_df_by_1[source_df[i]==j] 
        # filtered_df_by_bu=filtered_df_by_2[source_df[i]==j] 
     
    # print(filtered_df)
    return filtered_df
fin_df=filterdata(PRODUCT_ID_VALUE_1='COMMODITIES', PRODUCT_ID_VALUE_2='GOLD', BU=44  )
print(fin_df)

    BU INTRENALE_TRADE_REFERENCE  PARTY_1_CODE PARTY_1_CODE_TYPE  \
12  44             TCG201122AC13            44                BU

    PARTY_2_CODE PARTY_2_CODE_TYPE PRODUCT_ID_VALUE_1 PRODUCT_ID_VALUE_2  \
12        123468               CIF        COMMODITIES               GOLD

    NOTIONAL NOTIONAL_CURRENCY  VALUE_DATE MATURITY_DATE  \
12    100012               INR  31-12-2024    31-12-2025

    EARLY_TERMINATION_DATE  PRICE PRICE_CURRENCY
12                     NaN   13.2            USD

In [128]:
def overrideTheFieldsFromGiven(**krgs):
    for i, j in krgs.items():
        fin_df[i]=fin_df[i].to_string(index=False).replace(fin_df[i].to_string(index=False),j)


print(fin_df)
   
# print(fin_df)
overrideTheFieldsFromGiven(PRICE='99', PRICE_CURRENCY='ABC')

    BU INTRENALE_TRADE_REFERENCE  PARTY_1_CODE PARTY_1_CODE_TYPE  \
12  44             TCG201122AC13            44                BU

    PARTY_2_CODE PARTY_2_CODE_TYPE PRODUCT_ID_VALUE_1 PRODUCT_ID_VALUE_2  \
12        123468               CIF        COMMODITIES               GOLD

    NOTIONAL NOTIONAL_CURRENCY  VALUE_DATE MATURITY_DATE  \
12    100012               INR  31-12-2024    31-12-2025

    EARLY_TERMINATION_DATE PRICE PRICE_CURRENCY
12                     NaN    99            ABC

C:\Users\ramka\AppData\Local\Temp\ipykernel_17788\4192700665.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fin_df[i]=fin_df[i].to_string(index=False).replace(fin_df[i].to_string(index=False),j)

In [106]:
fin_df['NOTIONAL'].to_string

<bound method Series.to_string of 12    100012
Name: NOTIONAL, dtype: int64>

In [96]:
type(fin_df['NOTIONAL'])

pandas.core.series.Series