Question:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [14]:
l=[]
for i in range(2000,3200):
    if (i%7==0) and not (i%5==0):
        # print (f"{i}", end = ',')
        l.append(str(i))
print (','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

Question 2
Level 1

Question:
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:

In [25]:
def factorial1(x):
    res=x
    for i in range(1,x):
        res=res*i
        print(res)
    print(res)

factorial1(8)

8
16
48
192
960
5760
40320
40320

Question 3
Level 1

Question:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [30]:
def mul(x):
    a=1
    dict_1={}
    for i in range(1,x):
        dict_1[i]=i*i
    print(dict_1)

mul(8)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

*** Question 4
Level 1

Question:
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [28]:
String=input("Enter 6 comma seperated numbers")
l=String.split(',')
print(l)
t=tuple(l)

Enter 6 comma seperated numbers 1,2,3,4,5,6

['1', '2', '3', '4', '5', '6']

TypeError: 'tuple' object is not callable

In [32]:
values=raw_input()
l=values.split(",")
t=tuple(l)
print(l)
print(t)

NameError: name 'raw_input' is not defined

Question 5
Level 1

Question:
Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

In [59]:
class words():
    def __init__(self):
       self.s='' 
    def getString(self):
        self.s=input("Enter the text")
        # print(value)
        # return value
    def printString(self):
        out=self.s.upper()
        print(f"Output in upper case is as below {out}")
wd=words()

wd.getString()
wd.printString()

Enter the text kadam

Output in upper case is as below KADAM

Question 6
Level 2

Question:
Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24

In [98]:
import math

class math1():
    def __init__(self, c=50, h=90):
        self.c=50
        self.h=90
    inputlist=[]
    
    def sqrt1(self):
        list=input("Enter 3 numbers")
        print(list)
        inputlist=list.split(',')
        print(inputlist)
        for i in inputlist:
            Q = str(int(round(math.sqrt((2*self.c*eval(i))/self.h))))
            print(Q,end=',')

m=math1()
m.sqrt1()

1,