In [1]:
def summ(n):
    return(n+10)

summ(20)

30

** Method 1 ** Functiona with only one argument

In [9]:
# Syntax: <Function name>= lambda <argument name>: <Retun output>
summ = lambda n : n+10

summ(10)

20

In [11]:
sqrt = lambda n: n*n
sqrt(20)

400

** Method 2 ** Functiona with only two argument

In [18]:
add= lambda a, b : a+b
add(5,6)

11

** Method 3 ** Functiona with default argument

In [26]:
# even_num= lambda n: if n%2==0
# even_num(3)

SyntaxError: invalid syntax (2274485701.py, line 1)

In [31]:
add= lambda a,b=300: a+b
add(2)

302

In [33]:
# ** Method 4 ** Functiona with if else statement

num10= lambda a,b: a if a>b else b
num10(3,4)

4

In [35]:
even_num= lambda n: n if n%2==0 else print('Odd Number')
even_num(3)

Odd Number

In [41]:
# Method # 5 Using List
l=['hyd','chennai','mumbai']
out=[]
for i in l:
    # print(i.capitalize())
    out.append(i.capitalize())

out

['Hyd', 'Chennai', 'Mumbai']

In [47]:
l=['hyd','chennai','mumbai']
list(map(lambda i : i.capitalize(), l))

['Hyd', 'Chennai', 'Mumbai']

In [49]:
p=[6,5,4,3]
list(map(lambda i : i*2, p))

[12, 10, 8, 6]

*** Method 6 - Using filter _

In [54]:
city=['hyd','chen#nai','mumbai#','blr']
# import punctuation

list(filter(lambda i: '#' in i, city))

['chen#nai', 'mumbai#']

In [58]:
sqt = [3,4,5,6,7]
list(map(lambda i: i**2 , sqt))

[9, 16, 25, 36, 49]

In [68]:
sqt = [3,4,5,6,7]
# list(map(lambda i: i%2==0 , sqt)) --> True false
# list(filter(lambda i: i%2==0 , sqt)) 
tuple(filter(lambda i: i%2==0 , sqt))

(4, 6)

In [100]:
import functools
from functools import reduce
list10=[1,2,3,4,5]
# sum(list)
# summ=0

list(reduce(lambda summ, i : summ + i , list10,0))

TypeError: 'list' object is not callable