In [1]:
l=[]
for i in range(10):
    l.append(i)

l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
l=[i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

*** List Comprehension means we are initiallizing and declaring list in same sentence

In [10]:
#WAP save the list of squre numbers of 1 to 6
l=[i*i for i in range(1,6)]
l

[1, 4, 9, 16, 25]

In [36]:
# i/p 
l=['hyd','mumbai','pune']
# Capitalize
out=[i.capitalize() for i in l]
out
# Upper case
outc=[i.upper() for i in l]
outc
# Work with index, multiply index by 10
outi=[i*10 for i in range(len(l))]
outi
# sum all indices
outs=[i for i in range(len(l))]
sum(outs)

3

In [48]:
#wap l=['hyd','mum#bai','Chen#nai']
l=['hyd','mum#bai','Chen#nai']
out=[]
# for i in l:
#     if '#' in i:
#         # print(i)
#         out.append(i)
# out


# list= <output element>, for loop, if condition 
list_out=[i for i in l if '#' in i]
list_out

['mum#bai', 'Chen#nai']

In [54]:
#WAP to list elements greater than 4
# list comprehension [Output , for loop, If statement]
l=['hyd','mumbai','chennai','pune']
out=[i for i in l if len(i)> 4]
out

['mumbai', 'chennai']

In [58]:


# method 3
# for-if-else

import random
for i in range(1,10):
    num=random.randint(1,100)
    if num%2==0:
        print(f"Even number {num}")
    else:
        print(f"Odd Number {num}")

Odd Number 15
Odd Number 43
Even number 6
Even number 6
Odd Number 13
Even number 72
Even number 98
Odd Number 45
Odd Number 25

In [66]:
even_list=[]
odd_list=[]

list=[f"Even number {num}" if num%2==0 else f"Odd Number {num}" for num in [random.randint(1,100) for i in range(1,10)]]
# even=[f"even:{num}" if num%2==0 else f"odd:{num}" for num in [random.randint(1,100) for i in range(1,10)]]
# random_num=[random.randint(1,100) for i in range(1,10)]
# even_odd_list=[f"even:{num}" if num%2==0 else f"odd:{num}" for num in random_num]
# even_odd_list
list

['Odd Number 55',
 'Odd Number 13',
 'Odd Number 99',
 'Even number 20',
 'Odd Number 97',
 'Even number 60',
 'Even number 10',
 'Even number 68',
 'Odd Number 63']

In [78]:
num=[-2,-1,0,1,2]
# out=[]
# for i in num:
#     if i>0:
#         out.append('positive')
#     elif i<0:
#         out.append('negative')
#     else:
#         out.append('Zero')
# out

l=['positive' if i>0 else 'negative' if i<0 else 'zero' for i in num]
l

['negative', 'negative', 'zero', 'positive', 'positive']

* Use Method 5 where you create output as function with for loop

In [80]:
def squre(x):
    return x*x

[squre(i) for i in range (1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]